body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    height: 100vh;
}

.logo {
    position: absolute;
    left: 10px;
    height: 75px;
}

.foto {
    display: block;
    margin: auto;
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nombre {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

.centro-1 {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro-2 {
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centro-1 h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.centro-2 p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-shadow: 1px 1px 1px #ccc;
}

.fecha {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #555;
}

.inferior {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
    }

/* Media queries for smaller screens */
@media (max-width: 768px) {
.container {
    height: auto;
}
.foto {
    margin-top: 30px;
    width: 120px;
    height: 120px;
}
.nombre {
    font-size: 20px;
    margin-top: 10px;
}
.centro-1 h1 {
    font-size: 28px;
}
.centro-2 p {
    font-size: 16px;
}
.fecha {
    font-size: 16px;
}
.inferior {
    font-size: 12px;
}
}

/* Media queries for even smaller screens */
@media (max-width: 480px) {
.foto {
    margin-top: 20px;
    width: 80px;
    height: 80px;
}
.nombre {
    font-size: 16px;
}
.centro-1 h1 {
    font-size: 24px;
}
.centro-2 p {
    font-size: 14px;
}
.fecha {
    font-size: 14px;
}
.inferior {
    font-size: 10px;
}
}
